<hr class="featurette-divider">
{% assign bags = site.posts | where: "archive", true %}
{% for bag in bags %}
<div class="featurette" id="{{ bag.title | slugify }}">
  <img class="featurette-image img-circle img-responsive pull-right" src="{{ bag.author-pic }}">
  <h2 class="featurette-heading">{{ bag.title | remove: '<p>' | remove: '</p>' }}
    <span class="text-muted">{{ bag.teaser  | remove: '<p>' | remove: '</p>' }}</span>
  </h2>
  <h4>
<time datetime="{{ bag.start | date: "%Y-%m-%d %H:%M:%S%z" }}"><script>document.write(new Date('{{ bag.start }}').toString());</script></time>
  </h4>
  <h5>{{ bag.author }} <a href="https://www.twitter.com/{{ bag.twitter }}" target="_blank"><img src="{{ site.baseurl }}/img/twitter.png"></a> <a href="https://www.github.com/{{ bag.github }}" target="_blank"><img src="{{ site.baseurl }}/img/github.png"></a> <a href="{{ bag.homepage }}" target="_blank"><img src="{{ site.baseurl }}/img/homepage.png"></a></h5>
  <p class="lead">{{ bag.content | remove: '<p>' | remove: '</p>' }}</p>
  {% for tag in bag.tags %} {{ tag }} {% endfor %}
</div>

<hr class="featurette-divider">
{% endfor %}
