<div class="page-header" id="bags">
  <h1>Bags <small>Attend, now!</small></h1>
</div>
{% assign bags = site.posts | where: "archive", false %}
{% for bag in bags %}
{% if bag.event != "" %}
<div class="featurette" id="{{ bag.title | slugify }}">
  <img class="featurette-image img-circle img-responsive pull-right" src="{{ bag.author-pic }}">
  <h2 class="featurette-heading">{{ bag.title | remove: '<p>' | remove: '</p>' }}
    <span class="text-muted">{{ bag.teaser  | remove: '<p>' | remove: '</p>' }}</span>
  </h2>
  <h4><script>document.write(new Date('{{ bag.date }}').toString());</script> {{ bag.author }}</h4>
  <p class="lead">{{ bag.content | remove: '<p>' | remove: '</p>' }}</p>
  {% for tag in bag.tags %} {{ tag }} {% endfor %}
  <p>
    <form action="{{ bag.event }}">
      <button type="submit" class="btn btn-info btn-lg">
        <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Attend this session
      </button>
    </form>
  </p>
</div>

<hr class="featurette-divider">
{% endif %}
{% endfor %}
