<!-- Page Content -->
    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="inshort">
        <img class="featurette-image img-circle img-responsive pull-right" src="img/just-a-bag.png">
        <h2 class="featurette-heading">This is your bag
            <span class="text-muted">It feeds your brain while you eat. Teach, learn and enjoy!</span>
        </h2>
        <p class="lead">Brown-bag is a short, thirty minutes, session which happens during your lunch break. It is your community-, pull-request- and open-source-driven unconference. <a href="#eater">Eat</a> your food or <a href="#feeder">feed</a> others, get your bag now!</p>
    </div>

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="eater">
        <img class="featurette-image img-circle img-responsive pull-right" src="img/eater.png">
        <h2 class="featurette-heading">I like to eat
            <span class="text-muted">Subscribe to a brown-bag session, learn and enjoy!</span>
        </h2>
        <p class="lead">Nothing simpler than that. Pick an already announced brown-bag session from the schedule, get yourself some nice and delicous food (hopefully in a brown-bag), make yourself comfortable in front of your screen or share it with your co-workers on a large screen and live-cast it into your office. Be sure to interact with your brown-bag friends all over the world by writing questions and comments in the screen-cast area and/or live tweet with the <a href="https://twitter.com/hashtag/brownbag">#brownbag</a> hashtag.</p>
    </div>

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="feeder">
        <img class="featurette-image img-circle img-responsive pull-right" src="img/feeder.png">
        <h2 class="featurette-heading">I like to feed
            <span class="text-muted">Host a brown-bag session, teach and enjoy!</span>
        </h2>
        <p class="lead"></p>
    </div>
