<!-- Page Content -->
    <hr class="featurette-divider">

    <div class="featurette" id="inshort">
        <img class="featurette-image img-circle img-responsive pull-right" src="img/just-a-bag.svg">
        <h2 class="featurette-heading">This is your bag
            <span class="text-muted">It feeds your brain while you eat. Teach, learn and enjoy!</span>
        </h2>
        <p class="lead">Brown-bag is a short, thirty minutes, session which happens during your lunch break. It is your community-, pull-request- and open-source-driven unconference. The only thing which is predefined is the timeslots brown-bag will happen. Everything else is totally community-driven. If you feel we need additional slots or you would like to change how this uncoference works then get the discussion started. <a href="#eater">Eat</a> your food or <a href="#feeder">feed</a> others, get your bag now!</p>
    </div>

    <hr class="featurette-divider">

    <div class="featurette" id="eater">
        <img class="featurette-image img-circle img-responsive pull-right" src="img/eater.svg">
        <h2 class="featurette-heading">I like to eat
            <span class="text-muted">Subscribe to a brown-bag session, learn and enjoy!</span>
        </h2>
        <p class="lead">Nothing simpler than that. Pick an already announced brown-bag session from the schedule, get yourself some nice and delicous food (hopefully in a brown-bag), make yourself comfortable in front of your screen or share it with your co-workers on a large screen and live-cast it into your office. Be sure to interact with your brown-bag friends all over the world by writing questions and comments in the screen-cast area and/or live tweet with the <a href="https://twitter.com/hashtag/brownbag">#brownbag</a> hashtag. But don't just lean back in your seats. Get involved and <a href="#feeder">feed others</a> by hosting your brown-bag session!</p>
    </div>

    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="feeder">
        <img class="featurette-image img-circle img-responsive pull-right" src="img/feeder.svg">
        <h2 class="featurette-heading">I like to feed
            <span class="text-muted">Your brown-bag session is just a pull-request away.</span>
        </h2>
        <p class="lead">Open up a pull-request for an available slot, promote it, when it gets more vote than other pull-request for a given slot it gets merged and the slot is yours. Knock your audience out with your content! All you need is a good internet conncetion, a decent headset or microphone, an interesting topic which gets upvoted by the community, an hour on the brown-bag day and a little bit of courage. Don't worry, we are a friendly community! Host a brown-bag session now, teach and enjoy!</p>
    </div>

    <hr class="featurette-divider" id="bags">
