<!-- Page Content -->
    <hr class="featurette-divider">

    <!-- First Featurette -->
    <div class="featurette" id="inshort">
        <img class="featurette-image img-circle img-responsive pull-right" src="img/just-a-bag.png">
        <h2 class="featurette-heading">This is your bag
            <span class="text-muted">It feeds your brain while you eat. Teach, learn and enjoy!</span>
        </h2>
        <p class="lead">Brown-bag is a short, thirty minutes, session which happens during your lunch break. It is your community-, pull-request- and open-source-driven unconference. Nourrish yourself or feed others, get your bag now!</p>
    </div>
