<hr class="featurette-divider">

<div class="featurette" id="eater">
  <img class="featurette-image img-circle img-responsive pull-right" src="{{ site.baseurl }}/img/eater.svg">
  <h2 class="featurette-heading">I like to eat
    <span class="text-muted">Subscribe to a brown-bag session, learn and enjoy!</span>
  </h2>
  <p class="lead">Nothing simpler than that. Pick an already announced brown-bag session from the schedule, get yourself some nice and delicous food (hopefully in a brown-bag), make yourself comfortable in front of your screen or share it with your co-workers on a large screen and live-cast it into your office. Be sure to interact with your brown-bag friends all over the world by writing questions and comments in the screen-cast area and/or live tweet with the <a href="https://twitter.com/hashtag/brownbag">#brownbag</a> hashtag. But don't just lean back in your seats. Get involved and <a href="#feeder">feed others</a> by hosting your brown-bag session!</p>
</div>
