<hr class="featurette-divider">

<div class="featurette" id="feeder">
  <img class="featurette-image img-circle img-responsive pull-right" src="img/feeder.svg">
  <h2 class="featurette-heading">I like to feed
    <span class="text-muted">Your brown-bag session is just a pull-request away.</span>
  </h2>
  <p class="lead">Open up a pull-request for an available slot, promote it, when it gets more vote than other pull-request for a given slot it gets merged and the slot is yours. Knock your audience out with your content! All you need is a good internet connection, a decent headset or microphone, an interesting topic which gets upvoted by the community, an hour on the brown-bag day and a little bit of courage. Don't worry, we are a friendly community! Host a brown-bag session now, teach and enjoy!</p>
</div>
