<h4>
  <time datetime="{{ include.bag.start | date: "%Y-%m-%dT%H:%M%:z" }}"></time>
  <div title="Add to Calendar" class="addthisevent">
      <button type="submit" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Add to calendar
      </button>
      <span class="start eventTime" data-date="{{ include.bag.start | date: "%Y-%m-%dT%H:%M%:z" }}"></span>
      <span class="end eventTime" data-date="{{ include.bag.end | date: "%Y-%m-%dT%H:%M%:z" }}"></span>
      <span class="title">{{ include.bag.title }}</span>
      <span class="description">{{ include.bag.content }}</span>
      <span class="all_day_event">false</span>
      <span class="date_format">MM-DD-YYYY</span>
      <span class="location">{{ include.bag.event }}</span>
  </div>
</h4>
