<!-- jQuery -->
<script src="{{ site.baseurl }}/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

<script src="{{ site.baseurl }}/js/bootstrap-switch.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.6/moment-with-locales.min.js"></script>

<!-- Bootstrap switch for the mailchimp buttons -->
<script>
    $(document).ready(function() {
      $("[name='group[6625][1]']").bootstrapSwitch();
      $("[name='group[6625][2]']").bootstrapSwitch();
    });
</script>

<script>
    $(document).ready(function() {
      $(".eventTime").each(function() {
          var dateTimeElement = $(this);
          var rawDateTime = dateTimeElement.data('date');
          var dateTime = moment(rawDateTime, 'YYYY-MM-DDTHH:mmZ').format('MM-DD-YYYY HH:mm');
          dateTimeElement.text(dateTime);
      });
    });

    $(document).ready(function() {
      $("time[datetime]").each(function() {
          var dateTimeElement = $(this);
          var rawDateTime = dateTimeElement.attr('datetime');
          var dateTime = moment(rawDateTime, 'YYYY-MM-DDTHH:mmZ').format('LLLL');
          dateTimeElement.text(dateTime);
      });
    });
</script>

<!-- AddThisEvent -->
<script type="text/javascript" src="https://addthisevent.com/libs/1.6.0/ate.min.js"></script>

<!-- AddThisEvent Settings -->
<script type="text/javascript">
addthisevent.settings({
  css        : false,
  outlook    : {show:true, text:"Outlook"},
  google     : {show:true, text:"Google <em>(online)</em>"},
  yahoo      : {show:false, text:"Yahoo <em>(online)</em>"},
  outlookcom : {show:false, text:"Outlook.com <em>(online)</em>"},
  appleical  : {show:true, text:"Apple Calendar"},
  dropdown   : {order:"appleical,google,outlook,outlookcom,yahoo"}
});
</script>


<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-68300132-1', 'auto');
  ga('send', 'pageview');

</script>
