<hr class="featurette-divider">

<div class="featurette" id="inshort">
  <img class="featurette-image img-circle img-responsive pull-right" src="img/just-a-bag.svg">
  <h2 class="featurette-heading">This is your bag
    <span class="text-muted">It feeds your brain while you eat. Teach, learn and enjoy!</span>
  </h2>
  <p class="lead">Brown-bag is a short, thirty minutes, session that happens during your lunch break. It is your community-, pull-request- and open-source-driven unconference. The only thing that is predefined are the timeslots brown-bag will happen. Everything else is totally community-driven. If you feel we need additional slots, or you would like to change how this unconference works then get the <a href="https://github.com/brown-bag/brown-bag.github.com/labels/Improvement">discussion</a> started. <a href="#eater">Eat</a> your food or <a href="#feeder">feed</a> others, get your bag now!</p>
</div>
