<hr class="featurette-divider">

<div class="featurette" id="inshort">
  <img class="featurette-image img-circle img-responsive pull-right" src="img/just-a-bag.svg">
  <h2 class="featurette-heading">This is your bag
    <span class="text-muted">It feeds your brain while you eat. Teach, learn and enjoy!</span>
  </h2>
  <p class="lead">Brown-bag is a short, thirty minutes, session which happens during your lunch break. It is your community-, pull-request- and open-source-driven unconference. The only thing which is predefined is the timeslots brown-bag will happen. Everything else is totally community-driven. If you feel we need additional slots or you would like to change how this uncoference works then get the discussion started. <a href="#eater">Eat</a> your food or <a href="#feeder">feed</a> others, get your bag now!</p>
</div>
