<div class="panel panel-default" id="subscribe" style="margin-top:3%; margin-bottom:5%">
  <div class="panel-heading">
    <h3>Eater and/or a feeder?
      <span class="text-muted">Subscribe!</span>
    </h3>
  </div>
  <div class="panel-body">
    <p class="lead">
      <form action="//brown-bag.us11.list-manage.com/subscribe/post?u=01faea0960af3a22f345f25c0&amp;id=882a21f857" method="post"
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form-inline" target="_blank" novalidate>
      <div class="form-group">
        <label for="mce-EMAIL" class="sr-only">Email for subscribing</label>
        <input type="email" value="" name="EMAIL" class="form-control input-lg" id="mce-EMAIL" placeholder="email address" required>
      </div>
      <div class="form-group">
        <label for="mce-group[6625]-6625-0" class="checkbox-inline" style="font-size: 16px">Eater</label>
        <input type="checkbox" value="1" name="group[6625][1]" id="mce-group[6625]-6625-0" checked data-on-color="info" data-size="large">
      </div>
      <div class="form-group">
        <label for="mce-group[6625]-6625-1" class="checkbox-inline" style="font-size: 16px">Feeder</label>
        <input type="checkbox" value="2" name="group[6625][2]" id="mce-group[6625]-6625-1" data-on-color="info" data-size="large">
      </div>
      <div class="form-group">
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_01faea0960af3a22f345f25c0_882a21f857" tabindex="-1" value=""></div>
        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-info btn-lg" style="margin-left: 20px">
      </div>
    </form>
  </p>
</div>
</div>
