<hr class="featurette-divider">

<div class="featurette" id="inshort">
  <img class="featurette-image img-circle img-responsive pull-right" src="{{ site.baseurl }}/img/donation-bag.svg">
  <h2 class="featurette-heading">Brain food
    <span class="text-muted">Is not free, we need your help.</span>
  </h2>
  <p class="lead">We appreciate your help! Hosting the sessions involves costs. Are you someone, a company or just an angel who'd like to give something back? If we raise more money than we need to cover the costs we have, we make sure to invest that money back into the community.
<script src='https://www.dntly.com/assets/js/v1/form.js' data-donately-id="4635" data-donately-amount="10" data-donately-anonymous="true" data-stripe-publishable-key="pk_live_httidazuGvv8g7438VVXBWzJ" ></script>
  </p>
</div>

<hr class="featurette-divider">
